* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #ea3315;
}

#wrapper {
  width: 50%;
}

#wrapper .inner {
  background: #fff;
  border-radius: 0 20px 20px 20px;
  border: 2px solid #d1d3d4;
  width: 100%;
}

#wrapper .title {
  font-size: 3em;
  text-align: center;
  padding: 10px 0;
}

#wrapper .content {
  padding: 10px 20px;
}

#wrapper .menu {
  margin-bottom: -2px;
}

#wrapper .menu .btn {
  background: #fff;
  border: 2px solid #d1d3d4;
  padding: 5px 10px;
  font-size: 1.1em;
  margin-right: -5px;
  border-radius: 5px 5px 0 0;
}

#wrapper .menu .btn.active {
  border-bottom-color: #fff;
}

#wrapper .menu .btn.passive {
  border-bottom-color: #d1d3d4;
  cursor: pointer;
  background: #eee;
}

#wrapper .content .biodata {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#wrapper .content .biodata .image {
  width: 25%;
}

#wrapper .content .biodata .image img {
  width: 100%;
  border-radius: 20px;
}

#wrapper .content .biodata .data {
  margin-left: 20px;
}

#wrapper .content .biodata .data ul {
  list-style: none;
  font-size: 1.5em;
}

#wrapper .content .biodata .data ul li {
  padding: 7px 0;
}

#wrapper .content .biodata .data ul li strong {
  display: inline-block;
  width: 200px;
}

#wrapper .content .deskripsi {
  font-size: 1.3em;
  text-align: justify;
  padding: 10px 0;
}

.hidden {
  display: none;
}

@media (max-width: 1500px) {
  #wrapper {
    width: 70%;
  }
}

@media (max-width: 1100px) {
  #wrapper {
    width: 90%;
  }
}